@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.navbar{
  height:60px;
}

.wallpaper{
  background-image: url(/images/1529610910637.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;

}
.aboutpage{
  padding: 50px;

  background-color: #fff8;
  height: 100vh;

  width: 100%;
}

.main-content{
  margin-top:60px;
}
.login-wrapper{
 position: static;
  margin-top: 200px;
  background-color: #0008;
  padding: 50px;
  color: white;
 
  
}
.btn-default{
  border:1px solid black;
  background-color: white !important;
  color: black !important;
}
.dropdown-item{
  background-color: white !important;
}
.well{
  box-shadow:0px 0px 5px white;
  margin: 10px;
  padding: 50px;


  background-color: #fff;
}

#pbutton:hover
{	border: none;
	transition: 0.5s;
  color: #0ff;
  font-size: 90px;
  background-color: #0009;

background-blend-mode:                  overlay;

box-shadow: 0px 0px 20px black;

}



.btn-secondary{
	background-color: #056;
border-radius: 0px;
	border:none;
	font-size: 25px;
color:white;

float: right;





}


body{
    background-color:white;

}







ul li.active a{
background-color:white;
color: black !important;
border-bottom: 3px solid black;

}




@media only screen and (max-width: 1000px)
{




	ul li.active a{
			background-color: transparent;


	}
	.nav-item a{
		display: inline-block !important;
		margin: 0px !important;
		padding: 15px;
	}
@media (max-width:700px) {
  .nav{
    background-color: white;
    text-align: center;
  }
  
}
	.navbar-toggler{




	border: none;
	outline: none !important;
		box-shadow: none;
		border:0px;
	}


 

	.nav a{
display: inline-block !important;
	}


	

}








html {
  scroll-behavior:  smooth;


}





.text1{
  font-size: 20px;
  text-align: center;

}



.navbar-brand{
color:  black !important  ;
font-size: 25px;
text-align: center;
font-family:  Poppins;
font-weight: bolder;
width: 250px;


}





.nav-item a{
color: black !important;
  font-weight:  bold;
  text-align: center;
  margin-left: 10px;
  





}

.nav-item a:hover{

  border-bottom: 3px solid black;


  }




















